.ant-modal-body {
    padding: 3px !important;
  }

  .ant-list-item:hover{
    background-color: #c0d3e4;
    cursor: pointer;
  }

  .ant-list-items  { .selected{
    background-color: #c0d3e4;
  }
}